staticSites:
  - name: prodsim-frontend
    branch: main
    rootDir: apps/frontend
    buildCommand: npm ci --no-audit --no-fund && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /.*
        destination: /index.html
